{% extends 'dashboard/base_site.html' %}

{% load static %}

{% block title %}Dashboard Overview | Basico P/S - Automation Orchestrator{% endblock %}

{% block nav-global %}
<nav class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'dashboard-overview' %}">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard-calendar-view' %}">Calendar View</a>
    </li>
</nav>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Botflows Running
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_running.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-play fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-secondary text-uppercase mb-1">
                                Botflows Pending
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_pending.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-pause fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-success text-uppercase mb-1">
                                Botflows Completed (Today)
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_completed_today.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-check fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-danger text-uppercase mb-1">
                                Botflows Failed (Today)
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_failed_today.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-exclamation-triangle fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="font-weight-bold text-primary text-uppercase mb-1">
                Botflow Executions
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTableExecutions" class="table table-bordered table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>PK</th>
                            <th>Time Queued</th>
                            <th>Bot</th>
                            <th>App</th>
                            <th>Botflow</th>
                            <th>Trigger</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Time Start</th>
                            <th>Time End</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for botflow_execution in botflow_executions_overview %}
                        <tr>
                            <td>{{ botflow_execution.id }}</td>
                            <td>{{ botflow_execution.time_queued|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ botflow_execution.computer_name }} - {{ botflow_execution.user_name }}</td>
                            <td>{{ botflow_execution.app_formatted }}</td>
                            <td>{{ botflow_execution.botflow_formatted }}</td>
                            <td>{{ botflow_execution.trigger_formatted }}</td>
                            <td>{{ botflow_execution.priority }}</td>
                            <td>{{ botflow_execution.status }}</td>
                            <td>{{ botflow_execution.time_start|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ botflow_execution.time_end|date:"SHORT_DATETIME_FORMAT" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="font-weight-bold text-primary text-uppercase mb-1">
                                Completed executions per botflow
                            </h6>
                        </div>
                        <div class="col-sm-6">
                            <select id="barchartFilter" class="custom-select pull-right">
                                <option value="7">Past 7 days</option>
                                <option value="14">Past 14 days</option>
                                <option value="30">Past 30 days</option>
                                <option value="90">Past 90 days</option>
                                <option value="-1">All executions</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="barchartBotflows"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="font-weight-bold text-primary text-uppercase mb-1">
                                Minutes of runtime per bot
                            </h6>
                        </div>
                        <div class="col-sm-6">
                            <select id="piechartFilter" class="custom-select pull-right">
                                <option value="7">Past 7 days</option>
                                <option value="14">Past 14 days</option>
                                <option value="30">Past 30 days</option>
                                <option value="90">Past 90 days</option>
                                <option value="-1">All executions</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-pie">
                        <canvas id="piechartBotflows"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#dataTableExecutions").DataTable({
            order: [[0, "desc"]],
            lengthMenu: [2, 5, 10, 25, 100],
            pageLength: 2,
            pagingType: "full_numbers"
        });

        generateBarChartData()
        generatePieChartData()
    });

    $("#barchartFilter").change(function () {
        generateBarChartData()
    });

    function generateBarChartData() {
        var e = document.getElementById("barchartFilter");
        var days = e.options[e.selectedIndex].value;
        var dateToday = new Date();

        var newData = {
            backgroundColor: colors,
            hoverBackgroundColor: "#2e59d9",
            hoverBorderColor: "#2e59d9",
            data: botflowsArr.map(function (botflow) {
                return executionsArr.filter(function (execution) {
                    if (days === "-1") {
                        if (execution.status == "Completed") {
                            return execution.botflow.toLowerCase() == botflow.path.toLowerCase();
                        } else {
                            return false
                        }
                    } else {
                        if (execution.status == "Completed") {
                            return execution.botflow.toLowerCase() == botflow.path.toLowerCase() && calcDateDiff(execution.time_end, dateToday, days);
                        } else {
                            return false
                        }
                    }
                }).length;
            })
        }
        barchart.data.datasets = [];
        barchart.data.datasets.push(newData);
        barchart.update();
    };

    function calcDateDiff(date, dateToday, days) {
        if (date != '') {
            var dateParts = date.split('-');
            var dateExecution = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].split('T')[0]);

            if (Math.floor((dateToday - dateExecution) / (1000 * 60 * 60 * 24)) <= days) {
                return true
            } else {
                return false
            }
        } else {
            return false
        }
    };

    $("#piechartFilter").change(function () {
        generatePieChartData()
    });

    function generatePieChartData() {
        var e = document.getElementById("piechartFilter");
        var days = e.options[e.selectedIndex].value;
        var dateToday = new Date();

        var newData = {
            backgroundColor: colors,
            hoverBackgroundColor: "#2e59d9",
            hoverBorderColor: "#2e59d9",
            data: calcBotRuntime(days, dateToday)
        }

        piechart.data.datasets = [];
        piechart.data.datasets.push(newData);
        piechart.update();
    };

    function calcBotRuntime(days, dateToday) {
        var runtimeArr = []

        botsArr.forEach(function (bot) {
            runtimeInt = 0
            executionsArr.filter(function (execution) {
                if (days === "-1") {
                    return (execution.computer_name.toLowerCase() == bot.computer_name.toLowerCase())
                        && (execution.user_name.toLowerCase() == bot.user_name.toLowerCase())
                } else {
                    return (execution.computer_name.toLowerCase() == bot.computer_name.toLowerCase())
                        && (execution.user_name.toLowerCase() == bot.user_name.toLowerCase())
                        && ((calcDateDiff(execution.time_start, dateToday, days)) || (calcDateDiff(execution.time_end, dateToday, days)))
                }
            }).forEach(function (execution) {
                if (execution.time_start != '') {
                    var dateParts = [];
                    var dateTimeParts = [];

                    dateParts = execution.time_start.split('-');
                    dateTimeParts = dateParts[2].split('T')[1].split(':');
                    var dateStart = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].split('T')[0], dateTimeParts[0], dateTimeParts[1], dateTimeParts[2]);

                    if (execution.time_end == '') {
                        var dateEnd = dateToday;
                    } else {
                        dateParts = execution.time_end.split('-');
                        dateTimeParts = dateParts[2].split('T')[1].split(':');
                        var dateEnd = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].split('T')[0], dateTimeParts[0], dateTimeParts[1], dateTimeParts[2]);
                    }

                    if (calcDateDiff(execution.time_start, dateToday, days) || days == "-1") {
                        runtimeInt = runtimeInt + ((dateEnd - dateStart) / (1000 * 60));
                    } else {
                        var dateFirst = new Date(new Date().setDate(new Date().getDate() - 5));
                        runtimeInt = runtimeInt + ((dateEnd - dateFirst) / (1000 * 60));
                    }
                }
            });
            runtimeArr.push(Math.round(runtimeInt));
        });
        return runtimeArr
    }

    var bots = "{{ bots }}";
    var botsArr = generateListArr(bots);

    var apps = "{{ apps }}";
    var appsArr = generateListArr(apps);

    var botflows = "{{ botflows }}";
    var botflowsArr = generateListArr(botflows);

    var executionsTable = "{{ botflow_executions_calendar }}";
    var executionsTableArr = generateListArr(executionsTable);

    var executions = "{{ botflow_executions_calendar }}";
    var executionsArr = generateListArr(executions);

    function generateListArr(input) {
        return JSON.parse(input.replace(/&quot;/g, '"').replace(/\\/g, "\\\\"));
    };

    var colors = [
        "CadetBlue",
        "Chocolate",
        "CornflowerBlue",
        "Cornsilk",
        "Crimson",
        "Cyan",
        "DarkBlue",
        "DarkCyan",
        "DarkGoldenRod",
        "DarkGray",
        "DarkGrey",
        "DarkGreen",
        "DarkKhaki",
        "DarkMagenta",
        "DarkOliveGreen",
        "DarkOrange",
        "DarkOrchid",
        "DarkRed",
        "DarkSalmon",
        "DarkSeaGreen",
        "DarkSlateBlue",
        "DarkSlateGray",
        "DarkSlateGrey",
        "DarkTurquoise",
        "DarkViolet",
        "DeepPink",
        "DeepSkyBlue",
        "DimGray",
        "DimGrey",
        "DodgerBlue",
        "FireBrick",
        "FloralWhite",
        "ForestGreen",
        "Fuchsia",
        "Gainsboro",
        "GhostWhite",
        "Gold",
        "GoldenRod",
        "Gray",
        "Grey",
        "Green",
        "GreenYellow",
        "HoneyDew",
        "HotPink",
        "IndianRed",
        "Indigo",
        "Ivory",
        "Khaki",
        "Lavender",
        "LavenderBlush",
        "LawnGreen",
        "LemonChiffon",
        "LightBlue",
        "LightCoral",
        "LightCyan",
        "LightGoldenRodYellow",
        "LightGray",
        "LightGrey",
        "LightGreen",
        "LightPink",
        "LightSalmon",
        "LightSeaGreen",
        "LightSkyBlue",
        "LightSlateGray",
        "LightSlateGrey",
        "LightSteelBlue",
        "LightYellow",
        "Lime",
        "LimeGreen",
        "Linen",
        "Magenta",
        "Maroon",
        "MediumAquaMarine",
        "MediumBlue",
        "MediumOrchid",
        "MediumPurple",
        "MediumSeaGreen",
        "MediumSlateBlue",
        "MediumSpringGreen",
        "MediumTurquoise",
        "MediumVioletRed",
        "MidnightBlue",
        "MintCream",
        "MistyRose",
        "Moccasin",
        "NavajoWhite",
        "Navy",
        "OldLace",
        "Olive",
        "OliveDrab",
        "Orange",
        "OrangeRed",
        "Orchid",
        "PaleGoldenRod",
        "PaleGreen",
        "PaleTurquoise",
        "PaleVioletRed",
        "PapayaWhip",
        "PeachPuff",
        "Peru",
        "Pink",
        "Plum",
        "PowderBlue",
        "Purple",
        "RebeccaPurple",
        "Red",
        "RosyBrown",
        "RoyalBlue",
        "SaddleBrown",
        "Salmon",
        "SandyBrown",
        "SeaGreen",
        "SeaShell",
        "Sienna",
        "Silver",
        "SkyBlue",
        "SlateBlue",
        "SlateGray",
        "SlateGrey",
        "Snow",
        "SpringGreen",
        "SteelBlue",
        "Tan",
        "Teal",
        "Thistle",
        "Tomato",
        "Turquoise",
        "Violet",
        "Wheat",
        "White",
        "WhiteSmoke",
        "Yellow",
        "YellowGreen",
    ];

    var barchart = new Chart(document.getElementById("barchartBotflows"), {
        type: "bar",
        data: {
            labels: botflowsArr.map(function (i) {
                return i.name;
            }),
            datasets: []
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            layout: {
                padding: {
                    left: 25,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [
                    {
                        maxBarThickness: 40
                    }
                ],
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                ]
            },
            legend: {
                display: false
            }
        }
    });

    var piechart = new Chart(document.getElementById("piechartBotflows"), {
        type: "doughnut",
        data: {
            labels: botsArr.map(function (i) {
                return i.name;
            }),
            datasets: []
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: true
            }
        }
    });
</script>

{{ block.super }}

{% endblock %}