{% extends 'admin/base_site.html' %}

{% load static %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/logo.png' %}" height="75px" />
    </a>
</div>
{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" type="image/png" href="{% static 'admin/favicon.ico' %}" />

<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.css" rel="stylesheet">
{% endblock %}

{% block extrastyle %}
<style>
    #header {
        background: #2e2e2d;
    }

    div.breadcrumbs {
        background: #2e2e2d;
    }
</style>
{% endblock %}

{% block title %}Dashboard Overview | Automation Orchestrator{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                Botflows Running
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_running.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-play fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-secondary text-uppercase mb-1">
                                Botflows Pending
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_pending.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-pause fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-success text-uppercase mb-1">
                                Botflows Completed (Today)
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_completed_today.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-check fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-danger text-uppercase mb-1">
                                Botflows Cancelled/Failed (Today)
                            </div>
                            <div class="h3 mb-0 font-weight-bold">
                                {{ botflow_executions_failed_today.count }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-exclamation-triangle fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="font-weight-bold text-primary text-uppercase mb-1">
                Botflow Executions
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>PK</th>
                            <th>Time Queued</th>
                            <th>Computer Name</th>
                            <th>User Name</th>
                            <th>App</th>
                            <th>Botflow</th>
                            <th>Trigger</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Time Start</th>
                            <th>Time End</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for botflow_execution in botflow_executions %}
                        <tr>
                            <td>{{ botflow_execution.id }}</td>
                            <td>{{ botflow_execution.time_queued }}</td>
                            <td>{{ botflow_execution.computer_name }}</td>
                            <td>{{ botflow_execution.user_name }}</td>
                            <td>{{ botflow_execution.app }}</td>
                            <td>{{ botflow_execution.botflow }}</td>
                            <td>{{ botflow_execution.trigger }}</td>
                            <td>{{ botflow_execution.priority }}</td>
                            <td>{{ botflow_execution.status }}</td>
                            <td>{{ botflow_execution.time_start }}</td>
                            <td>{{ botflow_execution.time_end }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="font-weight-bold text-primary text-uppercase mb-1">
                Botflow Execution Calendar
            </div>
        </div>
        <div class="card-body">
            <div id='calendar'></div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
    crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.js"></script>

<script>
    var botflow_executions = '{{ botflow_executions_json }}';
    var botflow_executions_arr = JSON.parse(botflow_executions.replace(/&quot;/g, '"').replace(/\\/g, '\\\\'))

    var botflow_executions_events = []
    botflow_executions_arr.forEach(element => {
        if (element.time_start !== element.time_end) {
            var color = ''
            if (element.status === "Completed") {
                color = 'green'
            } else if (element.status === "Running") {
                color = 'blue'
            } else (
                color = 'red'
            )
            botflow_executions_events.push(
                {
                    'title': element.botflow + " (" + element.computer_name + ', ' + element.user_name + ")",
                    'start': element.time_start,
                    'end': element.time_end,
                    'color': color,
                    'textColor': 'white',
                }
            )
        }
    });

    $(document).ready(function () {
        $('#dataTable').DataTable(
            {
                "order": [[0, "desc"]],
                "lengthMenu": [2, 5, 10, 25, 100, 500],
                "pageLength": 2,
                "pagingType": "full_numbers"
            }
        );
        $('#calendar').fullCalendar(
            {
                'defaultView': 'listWeek',
                'header': {
                    'left': 'agendaDay, agendaWeek, listWeek',
                    'center': 'title',
                    'right': 'prev, next, today',
                },
                'displayEventEnd': {
                    'month': true,
                    'agendaDay': true,
                    'agendaWeek': true,
                    'listWeek': true,
                    "default": true
                },
                'allDaySlot': false,
                'nowIndicator': true,
                'slutDuration': '00:05:00',
                'slotLabelInterval': '00:05:00',
                'slotEventOverlap': false,
                'firstDay': 1,
                'displayEventEnd': true,
                'editable': false,
                'themeSystem': 'bootstrap4',
                'height': 500,
                'events': botflow_executions_events,
                eventRender: function (event, element) {
                    $(element).tooltip({ title: event.title });
                }
            });
    });
</script>

{{ block.super }}
{% endblock %}