{% extends 'admin/base_site.html' %}

{% load static %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/logo.png' %}" height="75px" />
    </a>
</div>
{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" type="image/png" href="{% static 'admin/favicon.ico' %}" />
{% endblock %}

{% block extrastyle %}
<style>
    #header {
        background: #2e2e2d;
    }

    div.breadcrumbs {
        background: #2e2e2d;
    }
</style>
{% endblock %}

{% block usertools %}
{% if has_permission %}
<div id="user-tools">
    {% block welcome-msg %}
    <p>
        Welcome <strong>{% firstof user.get_short_name user.get_username %}</strong> to {{ site_title }}.
    </p>
    {% endblock %}

    {% block userlinks %}
    {% if site_url %}
    <a href="{{ site_url }}">Home</a> /
    <a href="{% url 'dashboard-overview' %}">Dashboard</a> /
    <a href="{{ site_url }}api/0/docs/">API</a> /
    {% endif %}

    {% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
    <a href="{{ docsroot }}">Documentation</a> /
    {% endif %}
    {% endif %}

    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">Change password</a> /
    {% endif %}

    <a href="{% url 'admin:logout' %}">Log out</a>
    {% endblock %}
</div>
{% endif %}
{% endblock %}